{% block content %} 

<div class="content">

	<h1 class="animation-target">Govisual</h1>
	<h2>A design and development company</h2>

	<p>
		Currently building <a href="http://www.flitsmeister.nl">Flitsmeister</a>.
	</p>

	<p>
		Want to work together? Feel free to <a href="mailto:info@govisual.nl">contact us</a>.
	</p>

</div>

{% endblock %}