<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Govisual - A design and development company{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script type="text/javascript" src="//use.typekit.net/jvj0pcz.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Styles -->
        {{ "app.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>

        <canvas></canvas>

        <!-- Content block, child page inject content -->
        {% block content %}{% endblock %}

        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "app.js" | asset_url | script_tag }}
    </body>
</html>